/.cproject
/.project
/.settings/org.eclipse.cdt.core.prefs
/scheduler.launch
/scheduler.log
/cpu.log
/cpu/tests/build/commons-unit-test
/cpu/tests/build/test_main.d
/scheduler/scheduler.log
# build de modulos
/swap/build
/scheduler/build
/memory/build
/cpu/build

/memory/Debug

# main de modulos
/swap/swap
/scheduler/scheduler
/memory/memory
/cpu/cpu

# lib Includes
/includes/socket.d
/includes/utils.d

# archivo de logs
/cpu/cpu.log
/memory/cpu.log
/swap/swap.log

#mix
/swap/swap.data

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
